@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


.faq-heading{
  margin-top: 9%;
  padding: 20px 60px;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 32px;
}
.faq-container{
display: flex;
justify-content: center;
flex-direction: column;
}
.hr-line{
width: 60%;
margin: auto;
}

/* botões usados ​​para abrir e fechar */
.faq-page {
  /* background-color: #eee; */
  color: var(--text-dark);
  cursor: pointer;
  padding: 30px 20px;
  width: 60%;
  border: none;
  outline: none;
  transition: 0.4s;
  margin: auto;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}

/* Adicione uma cor de fundo ao botão se ele for clicado (adicione a classe .active com JS) e quando você passar o mouse sobre ele (passar o mouse) */
.active,
.faq-page:hover {
  background-color: #F9F9F9;
}

/* Estilize o painel da página de perguntas frequentes. Nota: oculto por padrão */
.faq-body {
  margin: auto;
  width: 54%; 
  display: none;
  color: var(--text-dark);
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  /* text-align: center;
  padding: auto;
  padding: 0 18px;
  background-color: white;
  overflow: hidden; */
}

.faq-page:after {
  content: '\02795';
  /* caractere sinal (+) */
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}


.active:after {
  content: "\2796";
  /* caractere sinal (-) */
}

footer{
  margin-top: 10%;
}

@media (max-width: 650px){/*executa quando largura maxima da tela for ate 650px*/
  .faq-heading {
    margin-top: 120px;
    font-size: 24px;
  }

  .faq-container{
    height: 47%;
    margin-top: 30px;
  }

.faq-page{
  display: flex;
  justify-content: space-between;
  font-size: 19px;
  align-items: center;
  width: 80%;
  font-family: 'Roboto', sans-serif;
}

.hr-line{
  width: 70%;
  margin: auto;
}

footer{
  margin-top: 34%;
}


}