
.politicaPrivacidade{
    line-height: 2.1;
    font-size: 15px;
    text-align: justify;
    width: 163vh;
    left: 37px;
    position: relative;
}

.politicaPrivacidade h1{
    font-family: 'Courier Prime', monospace;
    font-size: 24px;
    text-align: center;
    margin: 20px;
}

.politicaPrivacidade h2{
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
}





    @media (max-width: 650px){/*executa quando largura maxima da tela for ate 650px*/
.politicaPrivacidade {
    width: 40vh;
    text-align: left;
}

.politicaPrivacidade h2{
    font-size: 16px;
    text-align: center;
    margin-top: 20%;
}

    
    }