*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    list-style: none;
    scroll-behavior: smooth;
    letter-spacing: 1px;
}

@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
