:root {
    --bg-primary: #000000;
    --text-light: #FFFFFF;
    --text-dark: #1D1D1F;
    --title-primary-color: #F5F5F7;
    --subtitle-color: #6E6E73;
    --action-color: #2997FF;
    --spirited-main-color: #DED2B9;
}


body {
    font-family: "Poppins", sans-serif;
    --color1: #FFF ;
    --color2: #181818 ;
    --color3: #FFFFFF;
    --color4: #E0C76E;
    --color5: #565656;
    --color6: #EBEBEB;
    --color7: #393939;
}

   /* HEADER MENU */

header{
    /* background: no-repeat center/cover url('/assets/images/11.jpg'); */
    height: calc(100vh - 35rem);
}


.nav-bar {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    padding: 2rem 0;
    align-items: center;
    justify-content: space-around;
    background-color: var(--text-dark);
    z-index: 1000; /* Para garantir que o menu esteja acima de outros elementos */
}

.logo img {width: 180px; justify-content: flex-start;}

.menu {
    display: flex;
}

.menu li {
    padding-left: 30px;
}

.menu li a {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    display: inline-block;
    text-decoration: none;
    color: var(--color1);
    text-align: center;
    transition: 0.15s ease-in-out;
    position: relative;
    text-transform: uppercase;
}

.menu li:nth-child(4) a {
    background-color: var(--title-primary-color);
    color: black;
    border-radius: 4px;
    position: relative;
    
}

.menu li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: var(--color2);
    transition: 0.15s ease-in-out;
}

.menu li a:hover {
    color: var(--action-color);
    width: 100%;
}


.open-menu , .close-menu {
    position: absolute;
    color: var(--color2);
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}
.open-menu {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
.close-menu {
    top: 20px;
    right: 20px;
}
#check {display: none;}


.carousel {
    width: 100%;
    height: 100vh;
}
  
  .carousel > ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
 
  
  .slide {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    transition-delay: 100ms;

    
  }
  
  .slide > img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
  }
  
  .slide[data-active] {
    opacity: 1;
    z-index: 1;
    transition-delay: 0ms;
  }
  
  .carousel-button {
    position: absolute;
    z-index: 2;
    background: none;
    border: none;
    font-size: 2rem;
    top: 40%;
    transform: translateY(-50%);
    color: var(--text-light);
    cursor: pointer;
    border-radius: 50%;
    padding: 0px 0.5rem;
    background-color: rgba(0, 0, 0, .1);
  }
  
.carousel-button:hover,.carousel-button:focus {background-color: var(--text-dark);}
.carousel-button:focus {
    outline: 1px solid black;
  }
.carousel-button.prev {left: 1rem;}  
.carousel-button.next {right: 1rem;}
  


.container-header{
    display: flex;
}

    /* PRIMEIRO TOPICO DO SITE */

.topicFirst h1, .topicTwo h1{
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 60px;
    color: var(--text-dark);
}

.topicFirst h2{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    display: flex;
    justify-content: center;
    color: var(--text-dark);
    }


.topicFirst p, .topicTwo p{
    font-family: 'Popins', sans-serif;
    font-size: 16px;
    margin: 2rem 8rem 2rem 6rem;
    padding: 2rem 2rem 2rem 2rem;
    text-align: justify;
    color: var(--text-dark)
}

.topicFirst{
    /* text-align: center;
    display: flex;
    justify-content: center; */
    /* margin-bottom: 20px; */
    background-color: var(--color6);
    padding: 2rem;

}
.topicFirst img, .topicTwo img{
    /* width: 350px;
    height: 250px; */
    width: 30%;
    border-radius: 10px;
}
.topicThree img{
    width: 327px;
    height: 300px;
    border-radius: 10px;
    margin: 35px;
}
.center{
    display: flex;
    align-items: center;
}


    /* topico parte 2 energia renovavel */
.topicTwo{
    background-color: var(--color6);
    padding: 1vh;
   
}

/* .topicTwo h1{
    font-size: 20px;
    font-family: 'Langar', sans-serif;
    ;


} */
/* .topicTwo img{
    margin-top: 10rem;
    width: 50%;
    border-radius: 10%;
} */

.topicThree h1{
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    display: flex;
    text-align: center;
    justify-content: flex-start;
    padding: 5vh;
    margin: 0rem 0 -8rem 22rem;
    color: var(--text-dark);
}

.topicThree p{
    font-family: 'Popins', sans-serif;
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 53%;
    text-align: center;
    color: var(--text-dark);
}

.topicThree{
    /* display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    align-items: center; */
}

.Three{
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    align-items: center;
    background-color: var(--color6);
}





.bottom{
    /* margin-bottom: 24px; */
}

/* PARTE FINAL DO SITE - FOOTER */

footer {
    /* margin: 2rem 0; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: var(--color5);
}

.footer-options {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    font-size: 14px;
    align-items: center;
    margin: 50px 0 0 0;
}

.footer-options ul {
    margin-right: 2rem;
}

footer a {
    /* margin: 2 rem; */
    color: var(--color1);
    text-decoration: none;
    /* font-weight: 600; */
    font-family: 'Laila', sans-serif;
    cursor: pointer;
}

footer a:hover{color: var(--color4);cursor: pointer;}
footer p{color: var(--color1);font-size: 12px;}
footer div:nth-child(2) {margin-top: 2rem;}







@media(max-width: 710px){
    body{
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
    }
    .menu {
        font-size: 25px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 50%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: var(--color3);
        transition: all 0.2s ease-in-out;
    }
    .menu li {margin-top: 40px;}
    .menu li a {padding: 10px;}
    .open-menu , .close-menu {display: block;}
    #check:checked ~ .menu {right: 0;}
}

@media (max-width: 650px){/*executa quando largura maxima da tela for ate 650px*/

}



