:root {
    --bg-primary: #000000;
    --bg-secundary: #00143C;
    --text-light: #FFFFFF;
    --text-dark: #1D1D1F;
    --title-primary-color: #F5F5F7;
    --subtitle-color: #6E6E73;
    --action-color: #2997FF;
    --spirited-main-color: #DED2B9;
    --color1: #FFF ;
    --color2: #181818 ;
    --color3: #FFFFFF;
    --color4: #E0C76E;
    --color5: #565656;
    --color6: #EBEBEB;
    --color7: #393939;

        -color-neutral-0: #0e0c0c;
        --color-neutral-10: #171717;
        --color-neutral-30: #a8a29e;
        --color-neutral-40: #f5f5f5;
}
@import url('https://fonts.googleapis.com/css2?family=Langar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Laila:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Laila&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap');


body {
    /* rolagem devagar */
    scroll-behavior: smooth; 
    /* deixa a fonte mais nitida */
    -webkit-font-smoothing: antialiased;
}

   /* HEADER MENU */

header{
    /* background: no-repeat center/cover url('/assets/images/11.jpg'); */
    /* height: calc(100vh - 35rem); */
    /* img{object-fit: contain;} */
}

.nav-bar {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    padding: 2rem 0;
    align-items: center;
    justify-content: space-around;
    background-color: var(--text-dark);
    z-index: 1000; /* Para garantir que o menu esteja acima de outros elementos */
}

.logo img {width: 180px; justify-content: flex-start;}

.menu {
    display: flex;
}

.menu li {
    padding-left: 30px;
}

.menu li a {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    display: inline-block;
    text-decoration: none;
    color: var(--color1);
    text-align: center;
    transition: 0.15s ease-in-out;
    position: relative;
    text-transform: uppercase;
}

.menu li:nth-child(4) a {
    background-color: var(--title-primary-color);
    color: black;
    border-radius: 4px;
    position: relative;
    
}

.menu li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: var(--color2);
    transition: 0.15s ease-in-out;
}

.menu li a:hover {
    color: var(--action-color);
    width: 100%;
}

a > button{
    color: black;
    background: #DED2B9;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width: 65px;
    height: 26px;
    right: 50px;
    position: absolute;
}

a > button:hover{
    background-color: var(--action-color);
    color: var(--text-light); 
}

.open-menu , .close-menu {
    position: absolute;
    color: var(--color1);
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}
.open-menu {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
.close-menu {
    top: 20px;
    right: 20px;
}
#check {display: none;}


.carousel {
    width: 100%;
    height: 100vh;
}
  
  .carousel > ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
 
  
  .slide {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    transition-delay: 100ms;

    
  }
  
  .slide > img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
  }
  
  .slide[data-active] {
    opacity: 1;
    z-index: 1;
    transition-delay: 0ms;
  }
  
  .carousel-button {
    position: absolute;
    z-index: 2;
    background: none;
    border: none;
    font-size: 2rem;
    top: 40%;
    transform: translateY(-50%);
    color: var(--text-light);
    cursor: pointer;
    border-radius: 50%;
    padding: 0px 0.5rem;
    background-color: rgba(0, 0, 0, .1);
  }
  
.carousel-button:hover,.carousel-button:focus {background-color: var(--text-dark);}
.carousel-button:focus {
    outline: 1px solid black;
  }
.carousel-button.prev {left: 1rem;}  
.carousel-button.next {right: 1rem;}
  

    /* PRIMEIRO TOPICO DO SITE */

.topicFirst h1{
    font-family: 'Courier Prime', monospace;
    font-size: 24px;
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 60px;
    color: var(--color1);
}


.topicFirst p{
    font-family: 'Popins', sans-serif;
    font-size: 16px;
    margin: 2rem 6rem 4rem 5rem;
    padding: 1rem 3rem 2rem 2rem;
    text-align: justify;
    color: var(--text-light);
}

.topicFirst{
    background-color: var(--bg-secundary);
    padding: 2rem;

}
.topicFirst img, .topicTwo img{
 
    width:35%;
    border-radius: 6px;
}
.topicTwo p{
    font-family: 'Popins', sans-serif;
    font-size: 16px;
    margin: 4rem 7rem 4rem 6rem;
    padding: 2rem 2rem 2rem 2rem;
    text-align: justify;
    color: var(--text-dark)
}
.topicTwo h1{
    font-family: 'Courier Prime', monospace;
    font-size: 24px;
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 60px;
    color: var(--text-dark);
}
.topicThree img{
    width: 31%;
    border-radius: 7px;
    margin: 35px;
}
.center{
    display: flex;
    align-items: center;
}


    /* topico parte 2 energia renovavel */
.topicTwo{
    background-color: var(--color6);
}

.topicThree h1{
    font-size: 24px;
    text-align: center;
    padding: 60px;
    color: var(--text-dark);
    margin: 0rem 0 0rem -30rem;
    font-family: 'Courier Prime', monospace;
}

.topicThree p{
    font-family: 'Popins', sans-serif;
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 53%;
    text-align: center;
    color: var(--text-dark);
}

.topicThree{
    background-color: var(--text-light);
}

.Three{
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    align-items: center;
    background-color: var(--text-light);
}

/* PARTE FINAL DO SITE - FOOTER */

/* footer {
   
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: var(--text-dark);
}

.footer-options {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    font-size: 14px;
    align-items: center;
    margin: 50px 0 0 0;
}

.footer-options ul {
    margin-right: 2rem;
}

footer a {
  
    color: var(--color1);
    text-decoration: none;
    font-family: 'Laila', sans-serif;
    cursor: pointer;
}

footer a:hover{color: var(--action-color);cursor: pointer;}
footer p{color: var(--color1);font-size: 12px;}
footer div:nth-child(2) {margin-top: 2rem;} */


/* main {
    height: 80vh;
} */

footer {
    width: 100%;
    color: var(--color-neutral-40);
}

.footer-link {
    text-decoration: none;
}

#footer_content {
    background-color: var(--color-neutral-10);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 3rem 3.5rem;
}

#footer_contacts h1 {
    margin-bottom: 0.75rem;
}

#footer_social_media {
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
} 

#footer_social_media .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: var(--color-neutral-40);
    border-radius: 50%;
    transition: all 0.4s;
}

#footer_social_media .footer-link i {
    font-size: 1.25rem;    
}

#footer_social_media .footer-link:hover {
    opacity: 0.8;
}

#instagram {
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#facebook {
    background-color: #4267b3;
}

#whatsapp {
    background-color: #25d366;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
}

.footer-list .footer-link {
    color: var(--color-neutral-30);
    transition: all 0.4s;
}

.footer-list .footer-link:hover {
    color: #7f37c9;
}

#footer_subscribe {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#footer_subscribe p {
    color: var(--color-neutral-30);
}

#input_group {
    display: flex;
    align-items: center;
    background-color: var(--color-neutral-0);
    border-radius: 4px;
}

#input_group input {
    all: unset;
    padding: 0.75rem;
    width: 100%;
}

#input_group button {
    background-color: #7f37c9;
    border: none;
    color: var(--color-neutral-40);
    padding: 0px 1.25rem;
    font-size: 1.125rem;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    transition: all 0.4s;
}

#input_group button:hover {
    opacity: 0.8;
}

#footer_copyright {
    display: flex;
    justify-content: center;
    background-color: var(--color-neutral-0);
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 100;
}







@media(max-width: 710px){
    body{
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
    }
    .menu {
        font-size: 23px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: var(--bg-secundary);
        transition: all 0.2s ease-in-out;
    }
    .menu li {margin-top: 40px;}
    .menu li a {padding: 10px; font-size: 23px; color: var(--text-light);}
    .open-menu , .close-menu {display: block;}
    #check:checked ~ .menu {right: 0;}

    #footer_content {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

@media (max-width: 650px){/*executa quando largura maxima da tela for ate 650px*/
    body{
        display: block;
    }

    a > button{
        width: 10rem;
        height: 3rem;
        bottom: 80px;
        position: absolute;
        right: 25%;
        border: none;
        border-radius: 5px;
        background-color: var(--action-color);
    }
    
    .slide > img{
        width: 100%;
        height: 100%;
        position: relative;
        object-fit: cover;
    }


    .carousel-button.prev {
        left: 1rem;
        margin-top: 50%;
    }

    .carousel-button.next {
        right: 1rem;
        margin-top: 50%;
    }

    

.topicFirst p{
    margin: 0;
    padding: 0;
    width: 90%;
 
}

.topicFirst > h1, .topicTwo > h1, .topicThree > h1{
    display: block;
    margin: 0;
    font-size: 17px;
}

.topicTwo p{
    margin: 0;
    font-size: 16px;
    width: 90%;
    text-align: justify;
}

.topicThree img, .topicTwo img{
    width: 80%;
}

.topicThree p{
    display: flex;
    padding: 11px;
    text-align: justify;
    font-size: 16px;
    margin-top: 22px;
    width: 80%;
}

.topicThree{
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.center{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

/* .topicThree > h1{
    display: block;
    margin: 0;
    font-size: 17px;
} */
.Three{
    display: flex;
    flex-wrap: wrap;
}

.footer-options{
    display: inline-block;
    
}

.footer-options a{
    display: flex;
    justify-content: center;
    font-size: 13px;
}

#footer_content {
    grid-template-columns: repeat(1, 1fr);
    padding: 3rem 2rem;
}
}



